body{
  background-color: aquamarine;
}
.admin ul{ 
  text-align: center;
  border-collapse: collapse;
  margin: auto;
  align-items: center;
  
}

.admin li{
  display: inline-block;
  border:1px solid black;
  padding:15px;
  background-color: rgb(123, 181, 181);
}
h1{
  text-align: center;
}

#altas form, input{
  text-align: center;
  padding:10px;
  margin:3px;
  

}
#altas{
  margin: auto;
  
}